<app-admin-header></app-admin-header>

<div class="container">
  <br><br>
<button class="btn btn-info" (click)="addProductCategory()">Add Product Category</button><br><br>
<table class="table table-bordered table-stripped table-hover ">
  <thead class="text-bg-primary" style="text-align: center;">
      <tr>
          <th>Product Category Id</th>
          <th>Name</th>
          <th>Gender</th>
      </tr>
  </thead>

  <tbody class="text-bg-light">
      <tr *ngFor="let u of productcat">
          <td>{{u.pcId}}</td>
          <td>{{u.pcName}}</td>
          <td>{{u.pcGender}}</td>

      </tr>
  </tbody>
</table>
  </div>
  <br><br><br><br>
