<app-admin-header></app-admin-header>
<br><br>
<div class="container-fluid">
<div id="updateform" *ngIf="updateclicked">
  <form  #submit="ngForm" (ngSubmit)="onUpdate(submit.value)" >
    <div class="col-md-4">
      <input class="form-control"
        type="number"
        #orderId="ngModel"
        name="orderId"
        placeholder=""
       [(ngModel)]="uorder.orderId"
        required
        hidden
      />

   <span> <label>Order Status:</label></span>&nbsp;
    <!-- <input class="form-control"
      type="text"
      #orderStatus="ngModel"
      name="orderStatus"
      placeholder=""
      required

    /> --><select  #orderStatus="ngModel" name="orderStatus" [(ngModel)]="uorder.orderStatus">
      <option>{{uorder.orderStatus}}</option>
      <option *ngIf="uorder.orderStatus=='Delivered'" value="Not Delivered Yet" >Not Delivered Yet</option>
      <option *ngIf="uorder.orderStatus=='Not Delivered Yet'" value="Delivered" >Delivered</option>
    </select>

    <span><label>Payment Status:</label></span>&nbsp;
    <input class="form-control"
      type="text"
      #paymentStatus="ngModel"
      name="paymentStatus"
      placeholder=""
      required
      [(ngModel)]="uorder.paymentStatus"

    /> <br>
    <span><label>Products:</label></span>&nbsp;
    <input class="form-control"
      type="text"
      #products="ngModel"
      name="products"
      placeholder=""
      required
      [(ngModel)]="uorder.products"
      readonly
    /> <br>

    <span><label>Total:</label></span>&nbsp;
    <input class="form-control"
      type="number"
      #totalAmount="ngModel"
      name="totalAmount"
      placeholder=""
      required
      [(ngModel)]="uorder.totalAmount"
      readonly
    />
    <input class="form-control"
    type="number"
    #uId="ngModel"
    name="uId"
    placeholder=""
    required
    [(ngModel)]="uorder.uId"
    hidden
  />
      <br>
    <span><button  class="btn btn-success">Save</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-danger w-50"
    (click)="closePopup()">
Close
</button></span>
  </div>
  </form>
</div>
  <table  class="table table-bordered table-responsive table-hover "  >
    <thead class="text-bg-success">
          <tr >
              <th>Id</th>
              <th>User Id</th>
              <th>Products</th>
              <th>Total</th>
              <th>Payment Status</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of orders">
              <td>{{o.orderId}}</td>
              <td>{{o.uId}}</td>
              <td style="width: 350px;">{{o.products}}</td>
              <td>{{o.totalAmount}}</td>
              <td>{{o.paymentStatus}}</td>
              <td>{{o.orderStatus}}</td>
              <td><a (click)="openPopup(o)" class="btn text-bg-success">Update</a></td>
          </tr>
        </tbody>
    </table>

  </div>



  <br><br>


