
form
{
  width: 20rem;
  border: 1px solid rgb(209, 209, 209);
    align-items:center;
}
input{
  width: 15rem;
}
input[type=text]{
  margin-left: auto;

}
table{
  width: 50rem;
  margin-left: 3rem;
  margin-top: 2rem;

}
thead{
 text-align: center;

}
#updateform{
width: 30rem;
margin-left: 55rem;
margin-top: -1rem;
position: fixed;
}



