<app-admin-header></app-admin-header>
<div class="container">
  <form #submit="ngForm" (ngSubmit)="onUpdate(submit.value)" >
    <div class="col-md-4">

      <label>Product Id:</label>&nbsp;
      <input class="form-control"
        type="text"
        #productId="ngModel"
        name="productId"
        placeholder="About Product"
        required
        readonly
        [(ngModel)]="uproduct.productId"
      />
      <br><br>
    <label>Description:</label>&nbsp;
    <input class="form-control"
      type="text"
      #pDescription="ngModel"
      name="pDescription"
      placeholder="About Product"
      required
      minlength="1"
      [(ngModel)]="uproduct.pDescription"
    />

    <br /><br />
    <label>Product Name:</label>&nbsp;
    <input class="form-control"
      type="text"
      #pName="ngModel"
      name="pName"
      placeholder="Enter Product Name"
      required
      minlength="2"
      [(ngModel)]="uproduct.pName"
    />

    <br /><br>
    <label>Price:</label>&nbsp;
    <input class="form-control"
      type="number"
      #pPrice="ngModel"
      name="pPrice"
      placeholder="Price in rupees"
      required
      [(ngModel)]="uproduct.pPrice"
    />
    <br /><br />
    <label>Product Category Id:</label>&nbsp;
    <input class="form-control"
      type="number"
      #pcCid="ngModel"
      name="pcCid"
      placeholder="Price in rupees"
      required
      [(ngModel)]="uproduct.pcCid"
      readonly
    />
    <br /><br />
    <label>Image:</label>&nbsp;
    <input class="form-control"
      type="text"
      #fileName="ngModel"
      name="fileName"
      required
      [(ngModel)]="uproduct.fileName"
      readonly
    />
    <br /><br />
    <label>Stock:</label>&nbsp;
    <input class="form-control"
      type="number"
      #stock="ngModel"
      name="stock"
      placeholder="Price in rupees"
      required
      [(ngModel)]="uproduct.stock"
    />
    <br /><br />
    <button  class="btn btn-success">Save</button><br /><br />
  </div>
  </form><br><br>
  </div>
