
    <div class="row body">
        <br><br><br>
    <div class="container col-md-6">
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;
      <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()" class="border formbody p-3 rounded-3">
          <div class="row g-0">
                  <h2 align="center" style="color:black;"> Create an  account</h2>
              
          </div>
          <div class="row">
    
              <label for="name" class="form-label">Name
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your Name here">
              <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched||Name.dirty)">
                  Name is Required.
              </div>
              <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] &&( Name.touched||Name.dirty)">
                Name is too Short and The minimum length should be 2
              </div>
              <div class="form-text text-danger" *ngIf="Name.errors?.['pattern'] &&( Name.touched||Name.dirty)">
                  Name Should starts with Alphabet
                </div></label>
          </div>
          <div class="row">
    
            <label for="address" class="form-label">Address
            <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter your Address here">
            <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched||Name.dirty)">
                <Address></Address> is Required.
            </div>
            <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] &&( Name.touched||Name.dirty)">
              Address is too Short
            </div>
            </label>
        </div>
    
          <div class="row">
              <label for="email" class="form-label">Email Address
              <input type="email" class="form-control" id="email"  formControlName="email" placeholder="Enter the Email">
              <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched||Email.dirty)">
                  Email is Required.
              </div>
              <div class="form-text text-danger" *ngIf="Email.errors?.['email'] &&( Email.touched||Email.dirty)">
                 Email is Valid
                </div>
    
          </label>
          </div>
    
          <div class="row">
              <label for="mobile" class="form-label">Mobile Number
              <input type="text" class="form-control" id="mobile"  formControlName="mobile" placeholder="Enter the mobile number">
              <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched||Mobile.dirty)">
                  Number is Required.
              </div>
              <div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched||Mobile.dirty)">
                  Number is Invalid.
              </div>
              <div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.touched||Mobile.dirty)">
                  Number is too short.
              </div>
              <div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.touched||Mobile.dirty)">
                  Number is Long.
              </div></label>
          </div>
    
          <div class="row">
              <label for="pwd" class="form-label">Password
              <input type="password" class="form-control" id="p" formControlName="pwd"  placeholder="Enter the password">
              <div class="form-text text-danger" *ngIf="pwd.errors?.['required'] && (pwd.touched||pwd.dirty)">
                  Password is Required.
              </div>
              <div class="form-text text-danger"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" *ngIf="pwd.errors?.['maxlength'] && (pwd.touched||pwd.dirty)">
                  Password should be at least 6 and at the max 15 characters long
              </div></label>
              <div id="message">
                <h3>Password must contain the following:</h3>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
              </div>
          </div>
    
          <div class="row">
              <label for="cpwd" class="form-label">Confirm Password
              <input type="password" class="form-control" id="cpwd" formControlName="cpwd"  placeholder="Enter the password">
            </label>
          </div>
    
          <div class="row">
              <div class="col-6 offset-3">
              <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-md">Register</button>
              </div>
          </div>
      </div>
      </form>
      </div>
      <div class="image col-md-6">
        <br><br><br>
        <img src="assets/logo.jpeg" height="560px" width="500px">
      </div>
    
    </div>
    
<!--
<div class="row body">
    <br><br><br>
<div class="container col-md-6">
<br>
&nbsp;&nbsp;&nbsp;&nbsp;
  <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()" class="border formbody p-3 rounded-3">
      <div class="row g-0">
              <h2 align="center" style="color:black;"> Create an  account</h2>
          
      </div>
      <div class="row">

          <label for="name" class="form-label">Name
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your Name here">
          <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched||Name.dirty)">
              Name is Required.
          </div>
          <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] &&( Name.touched||Name.dirty)">
            Name is too Short and The minimum length should be 2
          </div>
          <div class="form-text text-danger" *ngIf="Name.errors?.['pattern'] &&( Name.touched||Name.dirty)">
              Name Should starts with Alphabet
            </div></label>
      </div>
      <div class="row">

        <label for="address" class="form-label">Address
        <input type="text" class="form-control" id="address" formControlName="address" placeholder="Enter your Address here">
        <div class="form-text text-danger" *ngIf="Name.errors?.['required'] && (Name.touched||Name.dirty)">
            <Address></Address> is Required.
        </div>
        <div class="form-text text-danger" *ngIf="Name.errors?.['minlength'] &&( Name.touched||Name.dirty)">
          Address is too Short
        </div>
        </label>
    </div>

      <div class="row">
          <label for="email" class="form-label">Email Address
          <input type="email" class="form-control" id="email"  formControlName="email" placeholder="Enter the Email">
          <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched||Email.dirty)">
              Email is Required.
          </div>
          <div class="form-text text-danger" *ngIf="Email.errors?.['email'] &&( Email.touched||Email.dirty)">
             Email is Valid
            </div>

      </label>
      </div>

      <div class="row">
          <label for="mobile" class="form-label">Mobile Number
          <input type="text" class="form-control" id="mobile"  formControlName="mobile" placeholder="Enter the mobile number">
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['required'] && (Mobile.touched||Mobile.dirty)">
              Number is Required.
          </div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['pattern'] && (Mobile.touched||Mobile.dirty)">
              Number is Invalid.
          </div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['minlength'] && (Mobile.touched||Mobile.dirty)">
              Number is too short.
          </div>
          <div class="form-text text-danger" *ngIf="Mobile.errors?.['maxlength'] && (Mobile.touched||Mobile.dirty)">
              Number is Long.
          </div></label>
      </div>

      <div class="row">
          <label for="pwd" class="form-label">Password
          <input type="password" class="form-control" id="pwd" formControlName="pwd"  placeholder="Enter the password">
          <div class="form-text text-danger" *ngIf="pwd.errors?.['required'] && (pwd.touched||pwd.dirty)">
              Password is Required.
          </div>
          <div class="form-text text-danger" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" *ngIf="pwd.errors?.['maxlength'] && (pwd.touched||pwd.dirty)">
              Password should be at least 6 and at the max 15 characters long
          </div></label>
      </div>

      <div class="row">
          <label for="cpwd" class="form-label">Confirm Password
          <input type="password" class="form-control" id="cpwd" formControlName="cpwd"  placeholder="Enter the password">
        </label>
      </div>

      <div class="row">
          <div class="col-6 offset-3">
          <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-md">Register</button>
          </div>
      </div>
  </div>
  </form>
  </div>
  <div class="image col-md-6">
    <br><br><br>
    <img src="assets/logo.jpeg" height="560px" width="500px">
  </div>

</div>








-->
