form{
  width: 500px;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  height: 600px;
  width: 500px;
  margin-right: 170px;
}
.body{
  background-color: goldenrod;
  font-weight: 500;
  }
.formbody{
  background-color: rgb(235, 224, 131);
}