Enter Id:<input type="text" name="uId" [(ngModel)]="user.uId" ><br><br>

Enter Password: <input type="text" name="uPassword" [(ngModel)]="user.uPassword" ><br><br>

<button (click)="userLogin()">Login</button>