<app-admin-header></app-admin-header>

<div class="container">
<form #submit="ngForm" (ngSubmit)="register(submit.value)" >
  <div class="col-md-4">

  <label>Gender:</label>&nbsp;
  <input class="form-control"
    type="text"
    #pcGender="ngModel"
    name="pcGender"
    placeholder="About Product"
    required
    minlength="1"
    ngModel
  />

  <br /><br />
  <label>Product Category Name:</label>&nbsp;
  <input class="form-control"
    type="text"
    #pcName="ngModel"
    name="pcName"
    placeholder="Enter Product Name"
    required
    minlength="2"
    ngModel
  />

  <br /><br>

  <button  class="btn btn-success">Add Product</button><br /><br />
</div>
</form><br><br>
</div>
