<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/products">Products</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/productcategory">Product Category</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/users">Users</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/orders">Orders</a>
        </li>&nbsp;&nbsp;&nbsp;

      </ul>

      <ul class="navbar-nav me-4">&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

