<app-admin-header></app-admin-header>
<table class="table ">
  <thead class="text-bg-primary" style="text-align: center;">
      <tr>
          <th>Product Category Id</th>
          <th>Name</th>
          <th>Gender</th>
      </tr>
  </thead>

  <tbody class="text-bg-light">
      <tr *ngFor="let u of pcat">
          <td>{{u.pcId}}</td>
          <td>{{u.pcName}}</td>
          <td>{{u.pcGender}}</td>

      </tr>
  </tbody>
</table>
<div class="container">
<form #submit="ngForm" (ngSubmit)="register(submit.value)" >
  <div class="col-md-4">

  <label>Description:</label>&nbsp;
  <input class="form-control"
    type="text"
    #pDescription="ngModel"
    name="pDescription"
    placeholder="About Product"
    required
    minlength="1"
    ngModel
  />

  <br /><br />
  <label>Product Name:</label>&nbsp;
  <input class="form-control"
    type="text"
    #pName="ngModel"
    name="pName"
    placeholder="Enter Product Name"
    required
    minlength="2"
    ngModel
  />

  <br /><br>
  <label>Price:</label>&nbsp;
  <input class="form-control"
    type="number"
    #pPrice="ngModel"
    name="pPrice"
    placeholder="Price in rupees"
    required
    ngModel
  />
  <br /><br />
  <label>Product Category Id:</label>&nbsp;
  <input class="form-control"
    type="number"
    #pcCid="ngModel"
    name="pcCid"
    placeholder="Category Id"
    required
    ngModel
  /> <br>
  <div >
    <label>Product Image : </label>
        <input type="file" name="file" accept="image/*" (change)="onSelectFile($event)">
        <img [src]="imgURL" height="200" *ngIf="imgURL">
</div>
  <br /><br />
  <label>Stock:</label>&nbsp;
  <input class="form-control"
    type="number"
    #stock="ngModel"
    name="stock"
    placeholder="Stock "
    required
    ngModel
  />
  <br /><br />
  <button  class="btn btn-success">Add Product</button><br /><br />
</div>
</form><br><br>
</div>
