<app-header></app-header>
<br><br>
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner" style="height: 300px;">
    <div class="carousel-item active">
      <img src="assets/images/car3.jpg"  class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/images/car2.jpg"  class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="assets/images/car1.jpg"  class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<br><br><br>
<div class="container">
  <div class="row" style="margin-top: 4px;">
      <div class="col-md-3" *ngFor="let p of products; let i=index">
        <div *ngIf="i<=10">
          <div class="card" style="width:250px;height:100%" >
            <img class="card-img-top img-responsive"
              src = "{{'http://localhost:8080/product/image/'+p.productId}}"
              style = "height :100%;width:fill-content"
             alt="" (click)="details( p.productId)">
              <div class="card-body">
                  <p class="card-text">{{p.pName | uppercase}}</p>
                  <p class="card-text">{{p.pPrice|currency:"INR"}}</p><br>
              </div>
          </div>
      </div>
      </div>
  </div><br><br>
</div>
<app-footer></app-footer>
