<app-header></app-header>
<br><br><br>
<div class="container">
  <div class="col-lg-8 border p-3 main-section bg-white">
      <div class="row hedding m-0 pl-3 pt-0 pb-3">
          Product Detail
      </div>
      <div class="row m-0">
          <div class="col-lg-4 left-side-product-box pb-3">
            <img class="card-img-top img-responsive"
            src = "{{'http://localhost:8080/product/image/'+products.productId}}"

           alt="" >

          </div>
          <div class="col-lg-8">
              <div class="right-side-pro-detail border p-3 m-0">
                  <div class="row">
                      <div class="col-lg-12">

                          <p class="m-0 p-0">{{products.pName}}</p>
                      </div>
                      <div class="col-lg-12">
                          <p class="m-0 p-0 price-pro">{{products.pPrice | currency:"INR"}}</p>
                          <hr class="p-0 m-0">
                      </div>
                      <div class="col-lg-12 pt-2">
                          <h5>Description</h5>
                          <span>{{products.pDescription}}</span>
                          <hr class="m-0 pt-2 mt-2">
                      </div>

                      <div class="col-lg-12 mt-3">
                          <div class="row">
                              <div class="col-lg-6 pb-2">
                                  <a (click)="addToCart(products)" class="btn btn-danger w-100">Add To Cart</a>
                              </div>
                              <div class="col-lg-6">
                                  <a (click)="addToWishList(products)" class="btn btn-success w-100">Add to Wishlist</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>
