.nav-link{
  color: goldenrod;
  font-weight: 600;
   }
 .nav-link:hover{
 background-color: rgb(49, 105, 153);
 font-weight: bold;
 border-radius: 5px;
 }
 .dropdown:hover .dropdown-menu{
 display: block;
 }
 .navbar{
   background-color: black
 }
