<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img (click)="home()" class="nav-link active" src="assets/images/logo.jpg" alt="" style="height: 50px;width: 60px;margin-top: 0.2rem;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="logged()">Profile</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/productheader">Products</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" routerLink="/" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li  *ngFor="let item of catlist"><a class="dropdown-item" (click)="getProduct(item)" >{{item}}</a></li>
          </ul>

        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" (click)="wishlist()">WishList</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <img (click)="cart()" class="nav-link active" src="assets/images/shopping-cart.png" alt="" style="height: 40px;width: 40px;margin-top: 0.2rem;">
        </li>&nbsp;&nbsp;&nbsp;
      </ul>

      <ul class="navbar-nav me-4">&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item" *ngIf="!loggedIn">
          <a class="nav-link" routerLink="/login">Log In</a>
        </li>&nbsp;&nbsp;&nbsp;

      </ul>
    </div>
  </div>
</nav>

