<br><br><br>
<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-sm-4 col-xs-12">
              <div class="single_footer">
                  <h4>Services</h4>
                  <ul>
                      <li><a href="#">FAQ's</a></li>
                      <li><a href="#">Shipping </a></li>
                      <li><a href="#">Seller Reviews </a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">About Us</a></li>
                  </ul>
              </div>
          </div><!--- END COL -->
          <!--- END COL -->
         <!--- END COL -->
      </div><!--- END ROW -->
      <div class="row">
          <div class="col-lg-12 col-sm-12 col-xs-12">

          </div><!--- END COL -->
      </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</div>
