<app-admin-header></app-admin-header>

<div class="container">
  <br><br>
<button class="btn btn-info" (click)="addProduct()">Add Product</button><br><br>
  <table class="table table-bordered table-stripped table-hover">
      <thead class="text-bg-primary" style="text-align: center;">
          <tr>
              <th>Id</th>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Category Id</th>
              <th>Action</th>
          </tr>
      </thead>

      <tbody class="text-bg-light">
          <tr *ngFor="let u of products">
              <td>{{u.productId}}</td>
              <td><img class="card-img-top img-responsive"
                src = "{{'http://localhost:8080/product/image/'+u.productId}}"
                style = "height :200px;width:fil-content"
               alt=""></td>
              <td>{{u.pName}}</td>
              <td>{{u.pDescription}}</td>
              <td>{{u.pPrice}}</td>
              <td>{{u.stock}}</td>
              <td>{{u.pcCid}}</td>
              <td><a (click)="update(u)"  class="btn btn-outline-success" role="button">Update</a> </td>
          </tr>
      </tbody>
  </table>
  </div>
  <br><br><br><br>
