
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>

<body>

    <div class="container m-4">
        <h3 class="text-primary center">OTP Verification</h3>
        <div class="row form">
            <div class="col-auto">
                <input type="text" class="form-control email" [(ngModel)]="form_OTP" name="form_OTP" #otpInput maxlength="6">
            </div>
            <div class="col-auto">
                <button class="btn btn-primary" (click)="sendOTP()">Verify</button>
            </div>
        </div>
        <div *ngIf="otp" class="success text-success">
            OTP verified Successfully
        </div>

        <div class="verification">
            <div class="title center">
                <p>An OTP has been sent to <span class="emailpartial">{{user.uEmail}}</span></p>
            </div>
        </div>
        <div  *ngIf="wotp" class="error text-danger">
            Invalid otp
        </div>
    </div>
</body>

</html>
