<div class="container">
<table  class="table table-bordered table-stripped table-hover">
    <thead >
        <tr class="bg-primary">
            <th>orderId</th>
            <th>userId</th>
            <th>products</th>
            <th>totalAmount</th>
            <th>paymentStatus</th>
            <th>orderstatus</th>
            
        
        </tr>
    </thead>

    <tbody class="bg-primary">
        <tr *ngFor="let o of order">
            <td>{{o.orderId}}</td>
            <td>{{o.userIde}}</td>
            <td>{{o.products}}</td>
            <td>{{o.totalAmount}}</td>
            <td>{{o.paymentStatus}}</td>
            <td>{{o.orderstatus}}</td>
            
        </tr>
    </tbody>
</table>
</div>
<br><br><hr><hr><br><br>

