<div class="container">
<table class="table table-bordered table-stripped table-hover">
    <thead>
        <tr class="bg-primary">
            <th>uId</th>
            <th>uName</th>
            <th>uLoc</th>
            <th>uEmail</th>
            <th>uMobile</th>
            <th>uPassword</th>
            
        
        </tr>
    </thead>

    <tbody class="bg-primary">
        <tr *ngFor="let u of user">
            <td>{{u.uId}}</td>
            <td>{{u.uName}}</td>
            <td>{{u.uLoc}}</td>
            <td>{{u.uEmail}}</td>
            <td>{{u.uMobile}}</td>
            <td>{{u.uPassword}}</td>
            
        </tr>
    </tbody>
</table>
</div>
<br><br><hr><hr><br><br>
