<app-header></app-header>
<br>
<form  class="d-flex my-2 my-lg-0" #submit="ngForm" (ngSubmit)="search(submit.value)">
<input class="form-control w-50 me-sm-2" type="text" placeholder="Search" #searching="ngModel" ngModel name="search" aria-label="Search">
<button  class="btn btn-outline-success my-2 my-sm-0">Search</button>
</form><br><br>
<div class="container">
    <div class="row" style="margin-top: 4px;">
        <div class="col-md-3" *ngFor="let p of products">
            <div class="card" style="width:250px;height:100%" >
              <img class="card-img-top img-responsive"
                src = "{{'http://localhost:8080/product/image/'+p.productId}}"
                style = "height :100%;width:fill-content"
               alt="" (click)="details( p.productId)">
                <div class="card-body">
                    <p class="card-text">{{p.pName | uppercase}}</p>
                    <p class="card-text">{{p.pPrice|currency:"INR"}}</p>
                    <p class="card-text" >
                        <button class="btn btn-success" (click)="addToCart(p)" >Add To Cart</button>
                    </p>
                    <p class="card-text" >
                        <button class="btn btn-danger" (click)="addToWishList(p)" >Add To WishList</button>
                    </p>
                </div>
            </div>
        </div>
    </div><br><br>
</div>
<app-footer></app-footer>
